*{
margin: 0px;
}

.container{
    width: 100%;
    /* background-color: aqua; */
}

/* navbar  */

.navbar{
    width: 100%;
    height: 8vh;
    background-color: rgb(226, 226, 226);
}

.navbar > h2{
    text-align: center;
    transform: translate(0 10px);
    font-family:'Courier New', Courier, monospace;
    padding-top:10px ;
}


/* box   */

.color_box{
    width: 1140px;
    height: 50vh;
    /* background:rgb(48, 231, 185); */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 154px;
    align-items: center;
}

.box{
    width: 12vw;
    height: 20vh;
    /* background-color: blue; */
    /* Text center pro */
    justify-content: center;
    align-items: center;
    display: flex;
    /* end center prop */
    border-radius: 10px;
    border: 2px solid gray;
}

/* input   */

form{
    width: 100%;
    height: 10vh;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
    display: flex;
}
input{
   height: 4vh;
    width: 17vw;
}


.btn{
    margin-left: 2px;
    width: 8vw;
    height: 5vh;
}