
#body
{
margin: 0;
padding: 0;
}

.container{
    width: 100%;
    /* background-color: rgb(89, 230, 199); */
}

/* Navbar section  */

.Navbar{
    display: flex;
    background: rgba(240, 234, 234, 0.904);
    height: 5rem;
}

.logo{
    /* background-color: aqua; */
    transform: translate(5rem, 0);
}

.logo > img{
    width: 5rem;
    height: 5rem;
}

.nav_link{
    width: 89vw;
    height: 3rem;
    /* background-color: rgba(179, 179, 218, 0.616); */
    justify-content: space-evenly;
    display: flex;
    list-style: none;
    align-items: center;
   /* font-weight: bold; */
   font-size: 1.2rem;
}


.nav_link > li 
{
    text-decoration: none;
    margin: 0 -21.3vw;
    color: rgb(82, 83, 85);
    display: inline-block;
}

.nav_link > li:hover{
       color: #dad291;
}



.nav_link >li >a:link,
.nav_link >li >a :visited{
    color: rgb(82, 83, 85);
    text-transform: uppercase;
    text-decoration: none;  
    border-bottom: 2px solid transparent;
}


.nav_link >li >a:hover,
.nav_link >li >a:active{
    border-bottom: 2px solid rgba(243, 183, 71, 0.767);
}

.user_name{
    background-color: transparent;
    border-radius: 1em;
    border: 0.4px solid rgb(170, 177, 177);
    cursor: pointer;
    transform: translate(11rem, 0);
    width: 10vw;
    height: 9vh;
    /* font-weight: bold; */
    font-size: 1.1rem;
}

.user_name:hover{
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}


/* Hero section  */
.hero{
    /* margin-top:40px; */
    padding-top: 30px;
    display: flex;
    background-color: #d1c042;
}

.text{
width: 60vw;
height: 70vh;
transform: translate(6rem, 0);
}

.banner{
width: 30vw;
height: 70vh;
}

.text > h1{
    font-size:bold;
    font-size: 2.3rem;
    line-height: 3rem;
   font-family: "Georgia", serif;
}

spam{
    color: #6c6cd5;
}

.text > p{
     width: 45vw;
    font-size: 1.2rem;
    color: #8d8a8a;
}

.text> button{
    height: 11vh;
    width: 20vw;
    color: white;
    border-radius: 0.80rem;
    border: 1.2px solid #6262d4;
    font-size: 20px;
   font-family: serif;
    background-color: #74b0d3;
}

.text> button:hover{
    background-color:white ;
    color: #6c6cd5;
}

.banner> img 
{
    width: 100%;
    height: 100%;
}


/* Service  */

.services{
    /* margin-top: 30px; */
    width: 100%;
    height: 15vh;
    background-color: #74b0d3;
}


.box{
    /* background-color: aqua ; */
    text-align: center;
    line-height: 3px;
    /* margin-top: 4px; */
       transform: translate(50px, 0);
}

/* booking service section  */

.booking{
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
    display: flex;
}

.item{
    width: 30vw;
    height: 80vh;
    background-color: aqua;
}
.item_2{
    width: 30vw;
    height: 80vh;
    background-color: rgb(148, 190, 69);
}